venv/
.venv/
__pycache__/
*.pyc
.DS_Store
.env

temp/*
generated/*
database/*.db

assets/images/*
assets/music/*
assets/video/*

!temp/.gitkeep
!generated/.gitkeep
!assets/images/.gitkeep
!assets/music/.gitkeep
!assets/video/.gitkeep
